@font-face {
    font-family: Breaking;
    src: url("./resources/font/Breaking.ttf");
}

body {
    margin: 0;
}

.title {
    font-family: Breaking;
    font-size: 6em;
    text-align: center;
    margin-top: 1%;
}

#ingameHeader {
    visibility: hidden;
    opacity: 0;
}

#playersInfo {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 19%;
    margin: 0 auto;
    color: black;
    font-family: Breaking;
    font-size: 50px;
}

#gameButtonGroup button {
    position: absolute;
    top: 0;
    border: 0;
}

#restartButton {
    right: 0;
}

#menuButtonGroup {
    display: grid;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0px auto;
    gap: 15px;
}

button {
    background-color: white;
    color: black;
    font-family: Breaking;
    font-size: 50px;
    border: 2px solid #e7e7e7;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: #e7e7e7;
}

#gameView {
    position: relative;
    visibility: hidden;
    opacity: 0;
}

#gameboard {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 200px));
    justify-content: center;
    width: 45%;
    margin: 0 auto;
    margin-top: 3%;
    gap: 20px;
}

.gamecell {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 100px;
    font-family: Breaking;
    border: solid 2px gray;
    border-radius: 15px;
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

.gamecell:hover{
    background-color: #e7e7e7;
}

#gameMessage {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100vw;
    background: rgb(0 0 0 / 87%);
    color: white;
    font-family: Breaking;
    font-size: 6em;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
}
